/*fonts*/

@import "fonts.css";


/*Specification*/

*{
	box-sizing: border-box;;
}

*:focus {
	outline: none !important;
	box-shadow: none !important;
}

html{
	overflow-x: hidden;
}

body{
	font-family: "Monserrat", "Arial", sans-serif;
	padding: 0;
	margin: 0;
	letter-spacing: 2px;
	font-size: 16px;
	color: #848484;
	font-weight: 300;
	line-height: 1.5em;
}

.container{
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1215px;
	width: 100%;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	color: #fff;
	text-align: center;
	margin: 0;
}

h1{
	font-family: "Raleway", sans-serif;
	font-size: 52px;
	color: #fff;
	font-weight: 800;
	line-height: 52px;
	/*font-size: calc(65px + (35)*(100vw / 1920))*/

	letter-spacing: .5px;
	margin: 10px 0;
}

h2{
	font-size: 30px;
	color: #fff;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 36px;

	letter-spacing: .5px;
}

h3{
	font-size: 30px;
	color: #000;
	font-weight: 500;
}

h4{
	font-size: 22px;
	font-weight: 500;
	color: #c4c4c4;
}

a, a:hover, a:active{
	text-decoration: none;
	color: inherit;
}

p{
	margin: 0;
	padding: 0;
}

img{
	width: 100%;
	height: 100%;
}

.btn{

  border-radius: 3px;
  background-color: #998675;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  text-align: center;
  line-height: 50px;
  padding: 0 25px;
  color: #fff;
  text-transform: uppercase;
/*  border-bottom: 3px solid #736357;*/
	font-weight: 800;
	font-size: 14px;
	margin-top: 50px;
	letter-spacing: 1px;

}
/*Header*/
	
header{
/*	background-color: #292423;*/
	width: 100vw;
	height: 100vh;
	min-width: 0;
	padding-top: 30px;
}

.header__container{
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	min-height: 100vh;
}
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 3;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

/* стилизуем кнопку */
.menu__btn {
	opacity: 0;
  	display: flex; /* используем flex для центрирования содержимого */
  	align-items: center;  /* центрируем содержимое кнопки */
  	position: fixed;
  	top: 20px;
  	left: 20px;
  	width: 26px;
  	height: 26px;
  	cursor: pointer;
  	z-index: 4;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  	display: block;
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	background-color: #616161;
 	transition: all 0.2s ease;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.logo {
	flex: 0 0 200px;
	font-family: "Raleway", sans-serif;
	font-size: 34px;
	font-weight: 400;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.logo:hover{
	color: #fff;
}

.logo__img{
	width: 64px;
	height: 56px;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 1 766px;
	padding-left: 10px;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 1 650px;
}

.nav__item {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
}

.nav__icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 70px;
}

.offer{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	max-width: 600px;
	width: 100%;
}

.offer__text {
	text-align: center;
}
.offer__btn {
}

.slider {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	min-width: 0;
	overflow-x: hidden;
}
.slider__item {
	height: 100vh;
}
.slider__item img {
	-o-object-fit: cover;
	   object-fit: cover;
}

/* Слайдер */
.slick-slider{

}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */



.slick-arrow{
	font-size: 0;
	position: absolute;
	width: 40px;
	height: 73px;
	border: none;
	background-color: transparent;
	z-index: 2;
	cursor: pointer;
	box-sizing: content-box;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	background-image: url(../img/right.svg);
	top: 50%;
	transform: translateY(-50%) scale(-1, 1);
	left: 7%;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	background-image: url(../img/right.svg);
	top: 50%;
	transform: translateY(-50%);
	right: 7%;
}



/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
	display: flex;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
}
.slick-dots li{
	background-color: transparent;
	border-radius: 50%;
	opacity: 0.502;
	width: 11px;
 	height: 11px;
 	margin: 0 5px;
 	font-size: 0;
 	background-color: #999897;
}
/* Активная точка */
.slick-dots li.slick-active{
	background-color: transparent;
	border: 2px solid #d3c1ad;
	font-size: 0;
}
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
	opacity: 0;
}


/*Works*/

.works {
	width: 100%;
	padding: 80px 0;
}

.works .container{

}

.work__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.work__item {
	margin-top: 10px;
	flex: 0 1 290px;
	min-height: 215px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.work__item:hover .icon, .work__item:hover h4 {
	color: #c7b299;
}

.work__item:hover .work__text::after{
	background-color: #c7b299;
}

.work__link{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 180px;
}

.work__item h4{
	color: #555;
	font-weight: 600;	
	font-family: "Raleway", sans-serif;
	background-color: #fff;
	transition: all .2s ease;
}

.work__text {
	text-align: center;
	position: relative;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
}

.work__text::after {
	width: 70px;
	height: 3px;
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	content: " ";
	background-color: #f1eee9;
	transition: all .2s ease;
}



.icon{
	font-size: 43px;
	transition: all .2s ease;
}






@media(max-width: 990px){


	nav{
		justify-content: flex-end;
	}

	.menu__btn{
		opacity: 1;
	}

	/* контейнер меню */
	.nav__list {
	  	display: block;
	  	position: fixed;
	  	z-index: 3;
	  	visibility: hidden;
	  	top: 0;
	  	left: -100%;
	  	width: 300px;
	  	height: 100%;
	  	margin: 0;
	  	padding: 80px 0;
	  	list-style: none;
	  	text-align: center;
	  	background-color: #ECEFF1;
	  	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	 	transition: all 0.2s ease;
	}
	/* элементы меню */
	.menu__item {
	  display: block;
	  padding: 12px 24px;
	  color: #333;
	  font-size: 20px;
	  font-weight: 600;
	  text-decoration: none;
	}
	.menu__item:hover {
	  background-color: #CFD8DC;
	}
	
	
	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .nav__list {
	  visibility: visible;
	  left: 0;
	}

	.slick-arrow{
		opacity: 0;
		pointer-events: none;
	}
}


/*Можно увеличить*/
@media(max-width: 340px){
	

	/*Header*/
	nav{
		justify-content: flex-end;
	}
	.nav__icons{
		flex: 0 1 auto;
	}

	.nav__icon{
		padding-left: 10px;
	}


	h1{
		font-size: 45px;
	}
}


@media(max-height: 500px){
	.offer{
		transform: translate(-50%, 0);
		top: auto;
		bottom: 4%;
	}
}


