/*fonts*/

@import "fonts.css";


/*Specification*/

*{
	box-sizing: border-box;;
}

*:focus {
	outline: none !important;
	box-shadow: none !important;
}

html{
	overflow-x: hidden;
}

body{
	font-family: "Monserrat", "Arial", sans-serif;
	padding: 0;
	margin: 0;
	letter-spacing: 2px;
	font-size: 16px;
	color: #848484;
	font-weight: 300;
	line-height: 1.5em;
}

.container{
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1210px;
	width: 100%;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	color: #fff;
	text-align: center;
	margin: 0;
	line-height: 1.1em;
}

h1{
	font-family: "Raleway", sans-serif;
	font-size: 52px;
	color: #fff;
	font-weight: 800;
	/*font-size: calc(65px + (35)*(100vw / 1920))*/

	letter-spacing: .5px;
	margin: 10px 0;
}

h2{
	color: #fff;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 36px;

	letter-spacing: .5px;
}

h3{
	font-size: 30px;
	color: #000;
	font-weight: 600;
}

h4{
	font-size: 22px;
	font-weight: 500;
	color: #c4c4c4;
}

a, a:hover, a:active{
	text-decoration: none;
	color: inherit;
}

p{
	margin: 0;
	padding: 0;
}

img{
	width: 100%;
	height: 100%;
}

.btn{

  border-radius: 3px;
  background-color: #998675;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  text-align: center;
  line-height: 50px;
  padding: 0 25px;
  color: #fff;
  text-transform: uppercase;
/*  border-bottom: 3px solid #736357;*/
	font-weight: 800;
	font-size: 14px;
	margin-top: 50px;
	letter-spacing: 1px;

}
/*Header*/
	
header{
/*	background-color: #292423;*/
	width: 100vw;
	height: 100vh;
	min-width: 0;
	padding-top: 30px;
}

.header__container{
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	min-height: 100vh;
}
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 3;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

/* стилизуем кнопку */
.menu__btn {
	opacity: 0;
  	display: flex; /* используем flex для центрирования содержимого */
  	align-items: center;  /* центрируем содержимое кнопки */
  	position: fixed;
  	top: 20px;
  	left: 20px;
  	width: 26px;
  	height: 26px;
  	cursor: pointer;
  	z-index: 4;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  	display: block;
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	background-color: #616161;
 	transition: all 0.2s ease;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.logo {
	flex: 0 0 200px;
	font-family: "Raleway", sans-serif;
	font-size: 34px;
	font-weight: 400;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.logo:hover{
	color: #fff;
}

.logo__img{
	width: 64px;
	height: 56px;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 1 766px;
	padding-left: 10px;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 1 650px;
}

.nav__item {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
}

.nav__icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 70px;
}

.offer{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	max-width: 600px;
	width: 100%;
}

.offer__text {
	text-align: center;
}
.offer__btn {
}

.slider {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	min-width: 0;
	overflow-x: hidden;
}
.slider__item {
	height: 100vh;
}
.slider__item img {
	-o-object-fit: cover;
	   object-fit: cover;
}

/* Слайдер */
.slick-slider{

}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
header .slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */



header .slick-arrow{
	font-size: 0;
	position: absolute;
	width: 40px;
	height: 73px;
	border: none;
	background-color: transparent;
	z-index: 2;
	cursor: pointer;
	box-sizing: content-box;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center;
}
/* Стрелка влево */
header .slick-arrow.slick-prev{
	background-image: url(../img/right.svg);
	top: 50%;
	transform: translateY(-50%) scale(-1, 1);
	left: 7%;
}
/* Стрелка вправо */
header .slick-arrow.slick-next{
	background-image: url(../img/right.svg);
	top: 50%;
	transform: translateY(-50%);
	right: 7%;
}



/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
header .slick-dots{
	display: flex;
	align-items: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
}
header .slick-dots li{
	background-color: transparent;
	border-radius: 50%;
	opacity: 0.502;
	width: 11px;
 	height: 11px;
 	margin: 0 5px;
 	font-size: 0;
 	background-color: #999897;
 	box-sizing: content-box;
}
/* Активная точка */
header .slick-dots li.slick-active{
	background-color: transparent;
	border: 2px solid #d3c1ad;
	font-size: 0;
}
/* Элемент точки */
header .slick-dots li button{
	font-size: 0;
	opacity: 0;
}


/*Works*/

.works {
	width: 100%;
	padding: 80px 0;
}

.work__list {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

.work__item {
	margin-top: 10px;
	flex: 0 1 25%;
	padding: 0 10px 30px 10px;


}

.work__item:hover .icon, .work__item:hover h4 {
	color: #c7b299;
}

.work__item:hover .work__link::after{
	background-color: #c7b299;
}

.work__link{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	height: 100%;
}

.work__link::after {
	width: 70px;
	height: 3px;
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	content: " ";
	background-color: #f1eee9;
	transition: all .2s ease;
}

.work__item h4{
	color: #555;
	font-weight: 600;	
	font-family: "Raleway", sans-serif;
	background-color: #fff;
	transition: all .2s ease;
	margin-bottom: 25px;
}

.work__text {
	text-align: center;
	position: relative;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
}

.icon{
	font-size: 43px;
	transition: all .2s ease;
	margin-bottom: 35px;
}

.work__item:hover i{
	transform: scale(-1) rotate(180deg);
}


/*=============================================*/
/*Idea*/
.ideas {}
.ideas .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.ideas__title {
	margin-bottom: 20px;
}

.ideas__text {
	text-align: center;
	margin-bottom: 20px;
	max-width: 800px;
	letter-spacing: 1px;
}
.ideas__img {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.ideas-img {
	-o-object-fit: cover;
	   object-fit: cover;
}

.thanks {

  	background-image: 
  				linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  	padding: 40px 0;
  	color: #fff;
  	text-align: center;
  	font-size: 25px;
}

.thanks span {
	color: #c7b299;
}

























/*Mobile*/

.mobile {
	background-color: #fbfaf8;
	padding-top: 80px;
}

.mobile .container {
	display: flex;
	justify-content: center;
}

.mobile-img {
	-o-object-fit: cover;
	   object-fit: cover;
	width: 100%;
	height: 100%;
}

.mobile__content {
	max-width: 670px;
	width: 100%;
	margin-left: 10px;
	-ms-grid-row-align: center;
	    align-self: center;
}

.mobile__content h3{
	text-align: left;
}

.mobile__content p{
	margin: 	35px 0;
}

.mobile__advantages {
	margin-left: 50px;
}
.mobile__advantages li {
	padding-left: 51px;
	background-image: url(../img/mobile.svg);
	background-repeat: no-repeat;
	margin: 10px 0;
	letter-spacing: 1px;
}


/*Counts*/

.counts {
  background-image: 
  				linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  	padding: 65px 0;

}
.counts .container {
	display: flex;
	justify-content: space-between;
	max-width: 960px;
}
.count {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.count:last-child {
	margin-right: 0;
}
.count__number {
	padding-top: 75px;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	text-align: center;

	font-size: 48px;
	font-weight: 200;
	color: #fff;
}

.c1{
	background-image: url(../img/count1.svg);
}

.c2{
	background-image: url(../img/count2.svg);
}

.c3{
	background-image: url(../img/count3.svg);
}

.c4{
	background-image: url(../img/count4.svg);
}

.c5{
	background-image: url(../img/count5.svg);
}

.count__text {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	color: #c7b299;
	opacity: 0.8;
	margin-top: 15px;
	letter-spacing: 0;
	text-align: center;
}


/*==============================================*/
/*Posts*/

.posts {
	margin: 80px 0;
}
.posts .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1250px;
/*	overflow-x: hidden;*/
}
.posts__title {
	margin-bottom: 25px;
}

.posts__text {
	max-width: 750px;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 30px;
}

.posts__items {
	position: relative;
	padding-bottom: 40px;
	overflow-y: visible;
}


.posts__items .slick-slider{
	min-width: 0;

}
/* Слайдер запущен */
.slick-slider.slick-initialized{
	min-width: 0;
	width: 100%;
/*	overflow-x: hidden;*/
}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.posts__items .slick-track{
	display: flex;
}
/* Слайд */
.posts__items .posts__item.slick-slide{
	margin: 0 20px;
	opacity: 0;

}
/* Слайд активный (показывается) */
.posts__items .posts__item.slick-slide.slick-active{
	opacity: 1;
	transition: all .2s ease; 
}
/*	margin: 	0 40px;posts__item slick-slide slick-active

/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.posts__items .posts__item.slick-slide.slick-center{
	opacity: 1;
	transition: all .2s ease; 
}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	position: absolute;
	bottom: -40px;
	font-size: 0;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 1px solid #d4d4d4;
	background-color: transparent;
	z-index: 2;
	cursor: pointer;
}

/* Стрелка влево */
.slick-arrow.slick-prev{
	right: calc(50% + 15px);
	transform: translateX(50%);
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	left: calc(50% + 15px);
	transform: translateX(-50%);
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.posts__items .slick-active + .slick-active + .slick-active {
/*	margin-right: 0;*/
}































.posts__item {
	max-width: 370px;
	border: 1px solid #f8f8f8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition-duration: .2s;
}

.posts__item:hover {
	background-color: #362f2d;
	border: 0px solid #f8f8f8;
	transform: scale(1.05);
}

.posts__item:hover .post__title {
	color: #c7b299;
}

.posts__item:hover .post__day {
	background-color: #c7b299;
}
.posts__item:hover .post__month {
	background-color: #a48d72;
}

.post__date {
	position: absolute;
	top: 20px;
	left: 20px;
	border-radius: 3px;
	overflow: hidden;
	z-index: 1;
}
.post__day {
	background-color: #363636;
	text-align: center;
	padding: 5px 5px;
	font-size: 24px;
	font-weight: 300;
	color: #fff;
	width: 100%;
	transition-duration: .2s;
}
.post__month {
	background-color: #000;
	text-align: center;
	padding: 5px 5px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 12px;
	color: #fff;
	width: 100%;
	transition-duration: .2s;
}

.post__img {
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
}

/* Слайдер */
.post__img .slick-slider{
	overflow-x: hidden;
}

.post__img .slick-slide {

}
/* Лента слайдов */
.post__img .slick-track{
	background-color: #fff;
}

.post__img .slick-dots{
	display: flex;
	position: absolute;
	bottom: 20px;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.post__img .slick-dots li{
	box-sizing: content-box;
	background-color: transparent;
	border-radius: 50%;
	opacity: 0.702;
	width: 11px;
 	height: 11px;
 	margin: 0 5px;
 	font-size: 0;
 	background-color: #999897;
}
/* Активная точка */
.post__img .slick-dots li.slick-active{
	background-color: transparent;
	border: 2px solid #d3c1ad;
	font-size: 0;
}
/* Элемент точки */
.post__img .slick-dots li button{
	font-size: 0;
	opacity: 0;
}

.post__img {
	width: 100%;
	max-height: 220px;
	overflow: hidden;
}

.post-img {
	-o-object-fit: cover;
	   object-fit: cover;
	   width: auto;
	  max-width: 370px;
	  max-height: 220px;
}

.post__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*flex: 1 1 auto;*/
	padding: 30px;
}

.post__title {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
	color: #555;
	transition-duration: .2s;
}
.post__text {
	letter-spacing: 1px;
	font-size: 14px;
	margin-bottom: 15px;
/*	flex: 1 1 auto;*/
}
.post__btn {
	display: inline-block;
	color: #c7b299;
	padding-right: 20px;
}


/*===================================*/
/*Logos*/

.logos {
	padding: 135px 0;
	background-image: url(../img/logos-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 58%;
}

.logos .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.logos-img {
	width: 220px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.logos-img:last-child {
	margin-right: 0;
}


@media(max-width: 1206px){


	/*Posts*/

}


@media(max-width: 1050px){


	/*Logos*/

	.logos .container {
		justify-content: center;
	}
}

@media(max-width: 990px){


	nav{
		/*justify-content: flex-end;*/
		position: absolute;
		width: 100%;
		height: inherit;

	}

	.nav__icons{
		position: absolute;
		width: 100%;
		left: 0;
	}

	.nav__icon{
		margin-top: 13px;
	}
	.head{
		justify-content: center;
	}
	.menu__btn{
		opacity: 1;
	}

	/* контейнер меню */
	.nav__list {
	  	display: block;
	  	position: fixed;
	  	z-index: 3;
	  	visibility: hidden;
	  	top: 0;
	  	left: -100%;
	  	width: 300px;
	  	height: 100%;
	  	margin: 0;
	  	padding: 80px 0;
	  	list-style: none;
	  	text-align: center;
	  	background-color: #ECEFF1;
	  	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	 	transition: all 0.2s ease;
	}
	/* элементы меню */
	.menu__item {
	  display: block;
	  padding: 12px 24px;
	  color: #333;
	  font-size: 20px;
	  font-weight: 600;
	  text-decoration: none;
	}
	.menu__item:hover {
	  background-color: #CFD8DC;
	}
	
	
	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .nav__list {
	  visibility: visible;
	  left: 0;
	}

	header .slick-arrow{
		opacity: 0;
		pointer-events: none;
	}


	/*Work*/

	.work__item{
		flex: 0 0 33.3333%;
	}
}

@media(max-width: 850px){


	/*Mobile*/

	.mobile{
		padding-bottom: 40px;
	}

	.mobile__content p {
		margin: 10px 0 15px 0;
	}
	.mobile__img{
		display: none;
	}

	.mobile__advantages{
		margin-left: 0;
	}
}


@media(max-width: 700px){


	/*Counts*/

	.counts .container {
		flex-wrap: wrap;
		justify-content: center;
	}

	.count {
		width: 135px;
		margin-bottom: 20px;
	}
}


@media(max-width: 600px){


	/*Work*/

	.work__item{
		flex: 0 0 293.75px;
	}


	/*Posts*/

	.posts__items .posts__item.slick-slide{
		margin: 0 20px;
	}

	.posts__item {
		max-width: 370px;
		width: 100%;
	}

	.post__img {
		max-width: 370px;
		width: 100%;
	}

	.post-img {
		max-width: 370px;
		width: 100%;
	}

}


/*Можно увеличить*/
@media(max-width: 370px){
	

	/*Header*/
	nav{
		justify-content: flex-end;
	}
	.nav__icons{
		flex: 0 1 auto;
	}

	.nav__icon{
		padding-left: 10px;
	}


	h1{
		font-size: 45px;
	}


	/*Posts*/
	.posts__items {
		padding-bottom: 0px;
	}
	.posts__items .slick-arrow {
		bottom: 40px;
	}
	.posts__items .posts__item.slick-slide{
		transform: scale(0.7);
	}
}


@media(max-height: 500px){
	.offer{
		transform: translate(-50%, 0);
		top: auto;
		bottom: 4%;
	}
}



